<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{partials/head}"></div>
</head>

<body>
    <div class="col-lg-8 mx-auto p-4 py-md-5">
        <div th:replace="~{partials/header}"></div>

        <main>
            <div class="row">
                <div class="col">
                    <div th:replace="~{partials/sidebar_member}"></div>
                </div>
                <div class="col">
                    <div th:replace="~{memberpages/home/memberhome}"></div>
                </div>
            </div>

        </main>
    </div>

    <div th:replace="~{partials/footer}"></div>
</body>

</html>