<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
    
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a th:href="@{/member/home}" class="nav-link link-body-emphasis" aria-current="page">
                Home
            </a>
        </li>
        <li>
            <a th:href="@{/member/profile/me}" class="nav-link link-body-emphasis">
                My Profile
            </a>
        </li>
    </ul>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        
        <li>
            <a th:href="@{/member/logout}" class="nav-link link-body-emphasis">
                Logout
            </a>
        </li>
    </ul>
</div>